@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,500;1,400&display=swap');

:root {
	--md-dark-color: #1d1d1d;
	--dark-color: #171717;
	--light-dark-color: #292929;
	--yellow-color: #d4aa11;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}
a {
	text-decoration: none;
}

img {
	width: 100%;
	display:block;
}

.wrapper {
	min-height: 100vh;
	background: var(--dark-color);
}

.wrapper .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

.search-container {
	background: var(--md-dark-color);
	height: 180px;
	display:flex;
	align-items: center;
	justify-content: center;
}
/* 
body {
	background:#000;
}
h1 {
	color:#000;
	margin:20px;
}
#h1Title {
	color:#d3322a;
	position: relative;
	top:20px;
	font-family:Plane-Crash;
	
}
@font-face {
	font-family: Plane-Crash;
	src: url('../fonts/Plane-Crash.ttf');
}


.wrapper {
	text-align: center;
	background: url('../images/movie-back6.jpg')no-repeat;
	background-size:cover;


}
#output {
	text-align: center;
}



ul li {
	margin-bottom:10px;
}
#wrap {
	margin-top:20px;
}
#infoWrap {
	border:1px solid #000;
	display:none;
	padding:10px;
	background: url('../images/background.jpg')no-repeat;
	background-size:cover;
	border-radius:5px;
	
}

.gallery {
  max-width: 500px;
  max-height:400px;
  display:inline-block;
  border-radius:5px;
  text-align:left;
  

}
#title {
	margin-bottom:20px;
}
#info {
	margin-bottom:80px;

}
.gallery-1 {

}
#gallery-2 {
	display:none;


}

ul li {
	list-style:none;
	
}
 img {
	width:400px;
	height:400px;
} */